<%- include('../partials/header') %>

<h1>show page</h1>

<label>Title:</label>
    <p><%= post.title %></p>
<label>Post:</label>
    <p><%= post.body %></p>

<label>Replies: </label>
     <% post.comments.forEach(function(c){ %>
        <ul>
            <% if(user._id == c.userId){ %>
                <form action="/post/<%= post._id %>/comments/<%= c._id %>?_method=DELETE" method="POST">
                    <li><%= c.body %></li> <button>Delete Comment</button>
                </form>
            <% } else { %>
                <li><%= c.body %></li> 
            <% } %>
        </ul>
<% }) %>


<form action="/home/<%= post._id %>/comments" method="POST">
<label>Reply:</label>
        <textarea rows="15" cols="50" name="body"></textarea>
    <button type="submit" class="btn btn-outline-primary">Submit reply</button>
</form>



<%- include('../partials/footer') %>