<%- include('../partials/header') %>

<h1>show page</h1>

<label>Title:</label>
    <p><%= post.title %></p>
<label>Post:</label>
    <p><%= post.body %></p>
    <% if(user._id.toString() === post.userId){ %>
            <div class="post">
                    <a href="#" onclick="toggleButtons('edit', 'text1', this);">Edit Post</a>
                    <span id="edit" style="display: none;">
                    <textarea rows="1" cols="50"><%= post.title %></textarea>
                    <br>
                    <textarea rows="8" cols="90"><%= post.body %></textarea>
                    </span>
            </div>
        <form action="/post/<%= post._id %>?_method=Delete" method="POST">
            <button type="submit">Delete Post</button>
        </form>
    <% } %>
<br>
<label>Replies: </label>
     <% post.comments.forEach(function(c){ %>
        <ul>
            <% if(user._id.toString() === c.userId){ %>
                <form action="/post/<%= post._id %>/comments/<%= c._id %>?_method=DELETE" method="POST">
                    <li><%= c.body %></li> <button>Delete Comment</button>
                </form>
            <% } else { %>
                <li><%= c.body %></li> 
            <% } %>
        </ul>
<% }) %>


<form action="/home/<%= post._id %>/comments" method="POST">
<label>Reply:</label>
        <textarea rows="15" cols="50" name="body"></textarea>
    <button type="submit" class="btn btn-outline-primary">Submit reply</button>
</form>

<script>
    function toggleButtons(id, text, btn){
        document.getElementById(id).style.display = 'block';
    // hide the lorem ipsum text
        document.getElementById(text).style.display = 'none';
    // hide the link
        btn.style.display = 'none';
    }
    
</script>



<%- include('../partials/footer') %>