<%- include('../partials/header') %>

<h1>show page</h1>

<label>Title:</label>
<p><%= post.title %></p>

<label>Post:</label>
<p><%= post.body %></p>



<form action="/home/<%= post._id %>/comments" method="POST">
<label>Reply:</label>
        <textarea rows="15" cols="50" name="body"></textarea>
    <button type="submit" class="btn btn-outline-primary">Submit reply</button>
</form>



<%- include('../partials/footer') %>