<%- include('../partials/header') %>

<h1>Driver Standings</h1>

<table class="table table-striped text-center container"> 
    <th>Pos </th>
    <th>Driver</th>
    <th>Constructor</th>
    <th>Points</th>
    <th>Wins</th>
</thead>
<tbody>
       <% driverTable.forEach(function(test){ %>
        <% test.DriverStandings.forEach(function(standing){ %>
            <% let driver = standing.Driver; %>
            <% let constructor = standing.Constructors; %>
            <tr>
                    <td> <%= standing.position %> </td>
                    <td> <%= driver.givenName %> <%= driver.familyName %></td>
                    <% let constructors %>
                    <% constructor.forEach(function(name){ %>
                        <% constructors = name.name %>
                        <% }) %>
                    <td> <%= constructors %> </td>
                    <td> <%= standing.points %> </td>
                    <td> <%= standing.wins %> </td>
            </tr>
           <% }); %>
        <% }); %>
   
<%- include('../partials/footer') %>