<%- include('../partials/header') %>
<div id="table">
  <table class="table table-striped text-left container mt-4">
    <thead>
      <th>Title </th>
      <th>Author</th>
      <th>Created</th>
    </thead>
    <tbody>
      <% users.forEach(function(post) { %>
      <% post.posts.forEach(function(p) { %>
      <tr>
        <td><a href="/home/<%= user._id %>/<%= p._id %>"><%= p.title %></a></td>
        <td><%= p.name %></td>
        <td><%= p.createdAt.toLocaleString() %></td>
      </tr>
      <% }) %>
      <% }) %>
    </tbody>
  </table>
</div>
<%- include('../partials/footer') %>