<%- include('../partials/header') %>

<h1>show page</h1>
<% if(user._id.toString() === post.userId){ %>
   <div id="show">
        <label >Title:</label>
        <p id="show"><%= post.title %></p>
        <label>Post:</label>
        <p id="show"><%= post.body %></p>
    </div>
    <form id="form" class="hide" action="/home/posts/<%= post._id %>?_method=PUT" method="POST">
        <label >Title:</label>
        <textarea rows="1" cols="30" name="title"><%= post.title %></textarea>
        <label>Post:</label>
        <textarea rows="15" cols="50" name="body"><%= post.body %></textarea>
        <button id="save">Save Post</button>
    </form>
    <button id="edit">Edit Post</button>
    <form action="/home/posts/<%= post._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete Post</button>
    </form>
    <% } else { %>
        <label >Title:</label>
            <p><%= post.title %></p>
        <label>Post:</label>
            <p><%= post.body %></p>
<% } %>

<br>
<label>Replies: </label>
     <% post.comments.forEach(function(c){ %>
        <ul>
            <% if(user._id.toString() === c.userId){ %>
                <form action="/post/<%= post._id %>/comments/<%= c._id %>?_method=DELETE" method="POST">
                    <li><%= c.body %></li> <button>Delete Comment</button>
                </form>
            <% } else { %>
                <li><%= c.body %></li> 
            <% } %>
        </ul>
<% }) %>


<form action="/home/<%= post._id %>/comments" method="POST">
<label>Reply:</label>
        <textarea rows="15" cols="50" name="body"></textarea>
    <button type="submit" class="btn btn-outline-primary">Submit reply</button>
</form>


<%- include('../partials/footer') %>