<%- include('../partials/header') %>



          <!-- <h5 class="card-title">Special title treatment</h5> -->
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
       
      




<% if(user._id.toString() === post.userId){ %>
<div class="card container px-0 mt-4">
    <div id="show">
        <h5 class="card-header"><%= post.title %></h5>
        <div class="card-body">
        <p class="card-text"><%= post.body %></p>
    </div>
 
    <a id="edit" class="btn btn-primary float-right mr-1 mb-1 ">Edit Post</a>
    <form action="/home/posts/<%= post._id %>?_method=DELETE" method="POST">
        <a class="btn btn-primary float-right mr-1 mb-1">Delete Post</a>
    </form>
    <% } else { %>
        <div id="show">
            <h5 class="card-header"><%= post.title %></h5>
            <p class="card-text"><%= post.body %></p>
        </div>
<% } %>
    </div>
</div>
<form id="form" class="hide" action="/home/posts/<%= post._id %>?_method=PUT" method="POST">
    <label >Title:</label>
    <textarea rows="1" cols="30" name="title"><%= post.title %></textarea>
    <label>Post:</label>
    <textarea rows="15" cols="50" name="body"><%= post.body %></textarea>
    <button id="save">Save Post</button>
</form>

     <% post.comments.forEach(function(c){ %>
            <% if(user._id.toString() === c.userId){ %>
                <div class="card container card-container px-0 mt-4">
                        <h5 class="card-header">Commenter name</h5>
                        <div class="card-body">
                <form action="/post/<%= post._id %>/comments/<%= c._id %>?_method=DELETE" method="POST">
                    <p class="card-text"><%= c.body %></p>
                    <a class="btn btn-primary float-right mr-1 mb-1">Delete Comment</a>
                </form>
            </div>
        </div>
            <% } else { %>
                <div class="card container card-container px-0 mt-4">
                        <h5 class="card-header">Commenter name</h5>
                        <div class="card-body">
                        <p class="card-text"><%= c.body %></p>
                    </div>
                </div>
                <% } %>
        <% }) %>

<form action="/home/<%= post._id %>/comments" method="POST">
    <div class="form-group container">
            <label for="exampleFormControlTextarea1">Comment:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="body"></textarea>
          </div>
    <button type="submit" class="btn btn-outline-primary float-right mr-5 mb-5">Submit reply</button>
</form>


<%- include('../partials/footer') %>