<%- include('../partials/header') %>

<h1>show page</h1>

<label >Title:
    <p><%= post.title %></p>
</label>
<label>Post:
    <p><%= post.body %></p>
</label>
    <% if(user._id.toString() === post.userId){ %>
        <!-- button - edit -->
        <!-- form  class toggle -->
        <!--  -->
        <form action="/post/<%= post._id %>?_method=Delete" method="POST">
            <button type="submit">Delete Post</button>
        </form>
    <% } %>
<br>
<label>Replies: </label>
     <% post.comments.forEach(function(c){ %>
        <ul>
            <% if(user._id.toString() === c.userId){ %>
                <form action="/post/<%= post._id %>/comments/<%= c._id %>?_method=DELETE" method="POST">
                    <li><%= c.body %></li> <button>Delete Comment</button>
                </form>
            <% } else { %>
                <li><%= c.body %></li> 
            <% } %>
        </ul>
<% }) %>


<form action="/home/<%= post._id %>/comments" method="POST">
<label>Reply:</label>
        <textarea rows="15" cols="50" name="body"></textarea>
    <button type="submit" class="btn btn-outline-primary">Submit reply</button>
</form>

<script>
   
    
</script>



<%- include('../partials/footer') %>